* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
html {
  background-color: rgb(196, 178, 186);
}

.cap {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed red;
  transition: all 0.5s;
  font-size: 1.4rem;
  font-weight: 600;
  box-shadow: 0 0 20px rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  color: white;
}
.cap p{
  font-size: 2.5vw;
  font-weight: 700;
}


.colorInput {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.colorInput label {
  font-size: 18px;
  font-weight: 600;
  margin: 0 1rem;
}

.colorInput input {
  cursor: pointer;
  box-shadow: 0 0 10px black;
}

.color-sec {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 0.5rem;
}
.color-sec h2 {
  margin: 0.5rem;
  text-align: center;
}

.btn {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: aqua;
  transition: all 0.4s;
  font-weight: bolder;
  box-shadow: 0 0 20px black;
  cursor: pointer;
}
.landscape {
  display: none;
  padding: 0.5rem;
  background-color: greenyellow;
  box-shadow: 0 0 5px rgb(0, 0, 0);
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  outline: none;
  border: none;
  font-weight: 700;
  margin: 1rem auto;
}
.landscape:hover {
  box-shadow: 0 0 15px rgb(0, 0, 0);
  background-color: tomato;
}

.btn:hover {
  background-color: tomato;
}

.table {
  width: 93%;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  transition: all 1s ease-in-out;
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0.2rem 0;
}
.p {
  background-color: rgb(0, 0, 0);
  padding: 5px;
  margin: 0 0.31%;
  text-align: center;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  max-height: 100px;
  overflow: auto;
  box-shadow: 0 0 5px black;
  outline: 0.1px solid red;
  transition: all 0.2s ease;
}
.row .h {
  background-color: rgb(0, 0, 0);
  padding: 5px;
  margin: 0 0.31%;
  text-align: center;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  max-height: 50px;
  overflow: auto;
  box-shadow: 0 0 5px black;
  outline: 0.01px solid red;
  transition: all 0.5s ease;
}
.p:hover,
.h:hover {
  box-shadow: 0 0 15px rgb(255, 0, 0);
}
.p p,
.h p {
  height: 100%;
  width: 100%;
  font-size: 1.35vw;
  font-weight: 700;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  margin: auto;
}
.p2 p,
.p3 p
{
  font-size: 1.75vw;
  line-height: 2.2vw;
}
.p1 {
  max-width: 12.5%;
  min-width: 12.5%;
  width: 100%;
}
.p2 {
  max-width: 25.62%;
  min-width: 25.62%;
  width: 100%;
}
.p3 {
  max-width: 38.74%;
  min-width: 38.74%;
  width: 100%;
}

.active-color {
  border: 2px solid greenyellow;
  outline: none;
}

.footer {
  margin-top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
}
.footer span a {
  color: rgb(217, 255, 0);
  padding: 10px;
}

@media screen and (min-width: 2000px) {
  .p {
    min-height: 200px;
    max-height: 200px;
  }
  .p p,
  .h p {
    font-size: 25px;
    font-weight: 1000;
  }
}

@media screen and (max-width: 1120px) {
  .p p,
  .h p {
    font-weight: 600;
  }
}

@media screen and (max-width: 992px) {

  .depertment {
    width: 70%;
  }
  .depertment .button_select {
    font-size: 25px;
  }

  .color-sec {
    flex-direction: column;
  }
  .colorInput {
    flex-direction: row;
    width: 100%;
    margin: 0.2rem;
    width: 90%;
    justify-content: space-between;
  }

  .colorInput label {
    margin: 1rem;
  }
}


@media screen and (max-width: 768px) {
  .default {
    transform: rotate(90deg) scale(0.5);
    margin-top: 30px;
  }

  .p {
    min-height: 80px;
    max-height: 80px;
  }
  .p p,
  .h p {
    font-weight: 700;
  }
  .row .h {
    min-height: 38px;
    max-height: 38px;
  }
}
@media screen and (max-width: 620px) {
  .cap {
    width: 80%;
  }
  .low-height {
    height: 40px;
  }

  .depertment {
    width: 80%;
  }
  .depertment .button_select {
    font-size: 20px;
  }

  .footer {
    height: 80px;
    font-size: 1rem;
  }
  .footer span a {
    padding: 3px;
  }

  .colorInput label {
    margin: 0.5rem;
    font-size: 14px;
  }

  .cap,
  h2 {
    font-size: 20px;
  }
  .row {
    margin: 2px 0;
  }
  .p {
    min-height: 60px;
    max-height: 60px;
  }
  .row .h {
    min-height: 35px;
    max-height: 35px;
  }
}


@media screen and (max-width: 510px) {
  .p {
    min-height: 50px;
    max-height: 50px;
  }

  .landscape {
    display: block;
  }
  .cap {
    padding: 5px;
  }

  h2 {
    font-size: 19px;
  }
  .cap p{
    font-size: 15px;
  }
  .row .h {
    min-height: 30px;
    max-height: 30px;
  }
  .p p{
    font-size: 1.52vw;
  }
  .h p {
    font-size: 2vw;
  }
  .p2 p,
  .p3 p
  {
    font-size: 2.2vw;
  }
}

@media screen and (max-width: 450px) {
  .row {
    margin: 1px 0;
  }
  .p {
    min-height: 45px;
    max-height: 45px;
  }
}

@media screen and (max-width: 380px) {
  .p p,
  .h p {
    font-weight: 550;
  }
  .row .h {
    min-height: 25px;
    max-height: 25px;
  }
}
