
* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
  }
  html {
    background-color: rgb(196, 178, 186);
  }
  .main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Josefin Sans", sans-serif;
    transition: all 0.5s;
  }
  .cap {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    border-radius: 10px;
    border: 2px dashed red;
    transition: all 0.5s;
    font-size: 1.6rem;
    font-weight: 600;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    background-color: rgb(156, 219, 235);
  }
  .cap img {
    margin-right: 10px;
    height: 100px;
    border-radius: 50%;
  }



  .colorInput {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem ;
  }

  .colorInput label{
    font-size: 18px;
    font-weight: 600;
    margin: 0 1rem;
  }

  .colorInput input {
    cursor: pointer;
  }

  
  .color-sec {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(156, 219, 235);
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
  }
  .color-sec h2 {
    margin: 0.5rem;
    text-align: center;
  }
 

  .btn {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: aqua;
    transition: all 0.4s;
    font-weight: bolder;
    box-shadow: 0 0 20px black;
    cursor: pointer;
  }
  .landscape {
    display: none;
    padding: 0.5rem;
    background-color: greenyellow;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    outline: none;
    border: none;
    font-weight: 700;
  }
  .landscape:hover {
    box-shadow: 0 0 15px rgb(0, 0, 0);
    background-color: tomato;
  }
  
  .btn:hover {
    background-color: tomato;
  }
  
  table {
    margin-top: 20px;
    transition: all 0.5s;
    width: 98%;
  }
  
  th {
    min-width: 160px;
    width: 100%;
  }

  
  th,
  td {
    padding: 3px;
  }
  
  tr p {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 5px;
    height: 85px;
    width: 100%;
    text-align: center;
    background-color: rgb(243, 168, 220);
    outline: 2px solid red;
    transition: all 0.3s ease;
    font-weight: bolder;
    font-size: 1.05rem;
    cursor: pointer;
    box-shadow: 0 0 5px black;
  }
  
  tr p:hover {
    border: 4px solid rgb(255, 0, 0);
  }
 
  .footer {
    margin-top: 20px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(83, 71, 79);
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
  }
  .footer span a {
    color: rgb(217, 255, 0);
    padding: 10px;
  }
  
  @media screen and (max-width: 1270px) {
    table {
      transform: scale(0.77);
    }
  }
  
  @media screen and (max-width: 1120px) {
    table {
      transform: scale(0.67);
    }
  }
  
  @media screen and (max-width: 992px) {
    table {
      transform: scale(0.58);
    }
    .cap {
      width: 70%;
    }
    .depertment {
      width: 70%;
    }
    .depertment .button_select  {
      font-size: 25px;
    }  
    .colorInput {
      flex-direction: column;
      width: 50%;
    }
    .colorInput label{
      margin: 1rem;
    }
    .color-sec {
      width: 80%;
    }
  
  }
  
  @media screen and (max-width: 768px) {
    table {
      margin-top: -150px;
      transform: scale(0.48);
    }

    .default {
      transform: rotate(90deg) scale(0.5);
      margin-top: 30px;
    }
  }
  @media screen and (max-width: 620px) {
    table {
      margin-top: 10px;
      transform: scale(0.33);
    }
    .landscape {
      display: block;
    }
    .cap {
      width: 80%;
    }
    .depertment {
      width: 80%;
    }
    .depertment .button_select  {
      font-size: 20px;
    }
    .footer {
      height: 80px;
      font-size: 1rem;
    }
    .footer span a {
      padding: 3px;
    }
    .colorInput {
      flex-direction: column;
      width: 100%;
    }
    .colorInput label{
      margin: 0.5rem;
      font-size: 14px;
    }
    .colorInput {
      margin: 0.5rem;
    }
    .color-sec {
      flex-direction: column;
    }  
    .cap, h2 {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 450px) {
    table {
      transform: scale(0.30);
    }
  }
  
  @media screen and (max-width: 380px) {
    table {
      transform: scale(0.25);
    }
  }
  